<ul class="links">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="Users" asp-action="UserProfile">Profile</a></li>
    <li><a asp-area="" asp-controller="Food" asp-action="AddFoodItem">Add Food</a></li>
    <li><a asp-area="" asp-controller="Food" asp-action="AddRestaurant">Add Restaurant</a></li>
    <li><a asp-area="" asp-controller="Food" asp-action="DisplayFoodItems">Daily Foods</a></li>
    <li><a asp-area="" asp-controller="Users" asp-action="AddAdmin">Add an Admin User</a></li>
    <li><a asp-area="" asp-controller="Users" asp-action="ChangePassword">Change Password</a></li>
    <li><a asp-area="" asp-controller="Users" asp-action="Logout">Log Out</a></li>
</ul>
