<ul class="links">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="Users" asp-action="Login">Login</a></li>
    <li><a asp-area="" asp-controller="Users" asp-action="Register">Register</a></li>
    <li><a asp-area="" asp-controller="Food" asp-action="DisplayFoodItems">Daily Foods</a></li>
</ul>