@using Microsoft.AspNetCore.Http
@model FoodItemViewModel

@{
    ViewData["Title"] = "Update Food Item";
}


<section id="one" class="wrapper style2">
    <div class="inner">
        <form asp-controller="Food" asp-action="FoodDetail" method="post">

            <label asp-for="FoodName">Food Name</label>
            <input asp-for="FoodName" />
            <label asp-for="Protein">Protein (g)</label>
            <input asp-for="Protein" />
            <label asp-for="Fat">Fat (g)</label>
            <input asp-for="Fat" />
            <label asp-for="Carbs">Carbs (g)</label>
            <input asp-for="Carbs" />
            <label asp-for="Calories">Calories</label>
            <input asp-for="Calories" />

            <input type="hidden" asp-for="@Model.FoodId">
            <input type="hidden" asp-for="@Model.RestaurantId">

            @{

                <div class="btn-details">
                    <button class="button button1" type="submit" asp-action="AddFoodItemToList">Add Food To Daily List</button>
                    <button class="button button1" type="submit" asp-action="RemoveFoodItemFromList">Remove Food From Daily List</button>
                </div>

                if (Context.Session.GetString(SessionKeys.AdminFlag) == "1")
                {
                    <div class="btn-details">
                        <button class="button button1" type="submit" asp-action="FoodDetail">Update Food</button>
                        <button class="button button1" type="submit" asp-action="DeleteFoodItem">Delete Food</button>
                    </div>
                }
                if (Context.Session.GetString(SessionKeys.Username) != null)
                {

                    <div class="btn-details">
                        <button class="button button1" type="submit" asp-controller="Users" asp-action="AddFoodToFavorites">Add Food to Favorites</button>
                        <button class="button button1" type="submit" asp-controller="Users" asp-action="DeleteFromFavorites">Delete Food from Favorites</button>
                    </div>
                }
            }
        </form>
    </div>
</section>

