@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<h2>Search</h2>
<section id="one" class="wrapper style2">
    <div class="inner">
        <form asp-controller="home" asp-action="Result" method="get">
            <div class="row1">
                <label asp-for="MinCarbs">Min Carbs:&ensp;</label>
                <input id="minCarbs" asp-for="MinCarbs" />
                <label asp-for="MaxCarbs">Max Carbs: &ensp;</label>
                <input id="maxCarbs" asp-for="MaxCarbs" />
            </div>
            <div class="row2">
                <label asp-for="MinProtein">Min Protein: </label>
                <input id="minProtein" asp-for="MinProtein" />
                <label asp-for="MaxProtein">Max Protein: </label>
                <input id="maxProtein" asp-for="MaxProtein" />
            </div>
            <div class="row3">
                <label asp-for="MinFat">Min Fat: &emsp; &ensp;</label>
                <input id="minFat" asp-for="MinFat" />
                <label asp-for="MaxFat">Max Fat: &emsp;&ensp;</label>
                <input id="maxFat" asp-for="MaxFat" />
            </div>

            <div class="row4">
                <label asp-for="RestaurantChosen">Filter by Restaurant </label>
                <select id="restaurant" asp-for="RestaurantChosen" asp-items="Model.RestaurantSelect"></select>
            </div>

            <div class="row4">
                <label asp-for="FilterCountSelect"># of results: </label>
                <select id="filter" asp-for="FilterCountSelect" asp-items="Model.FilterCount"></select>
            </div>

            <div class="row4">
                <label asp-for="OrderbySelect">Order by: </label>
                <select asp-for="OrderbySelect" asp-items="Model.OrderBy"></select>
            </div>

            <div style="text-align:center;">
                <input id="submitButton" type="submit" value="Submit" />
                </div>

        </form>

    </div>
</section>
